<!-- About us page -->
<!-- header -->
<%-include ('../partials/header')%>

<div class="col text-center">
  <h1>ABOUT US</h1>
</div>

<div class="container pt-1">
  <div class="card">
    <img src="" width="100px" height="225px" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="card-text">
        <h2>Mission</h2>
        <p class="para"></p>
        <h2>Vision</h2>
        <p class="para"></p>
        <h2>Values</h2>
        <h5>1.</h5>
        <p class="para"></p>
      </div>
    </div>
  </div>
</div>


<!-- navbar and footer -->
<%-include ('../partials/bottom-nav') %>
<%-include ('../partials/footer') %>