<!-- NAV BAR -->
<div class="container-fluid text-center fixed-bottom bg-primary" id="nav">
  <div class="row justify-content-around">
    <!-- map  -->
    <div class="col-2 pt-3">
      <a href="/map">
        <div class="d-flex justify-content-center">
          <span class="material-icons px-1">map</span>
        </div>
        <p id="nav-text">Map</p>
      </a>
    </div>

    <!-- recipe -->
    <div class="col-2 pt-3">
      <a href="/recipe-generator">
        <div class="d-flex justify-content-center">
          <span class="material-icons">restaurant</span>
        </div>
        <p id="nav-text">Recipe</p>
      </a>
    </div>

    <!-- home -->
    <div class="col-2 pt-3">
      <a href="/home">
        <div class="d-flex justify-content-center">
          <span class="material-icons">home</span>
        </div>
        <p id="nav-text">Home</p>
      </a>
    </div>

    <!-- pantry-->
    <div class="col-2 pt-3">
      <a href="/pantry">
        <div class="d-flex justify-content-center">
          <span class="material-icons">kitchen</span>
        </div>
        <p id="nav-text">Pantry</p>
      </a>
    </div>

    <!-- profile -->
    <div class="col-2 pt-3">
      <a href="/profile">
        <div class="d-flex justify-content-center">
          <span class="material-icons">account_circle</span>
        </div>
        <p id="nav-text">Profile</p>
      </a>
    </div>
  </div>
</div>