body {
  margin: 0;
  padding: 0;
}

#background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#box {
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

#content {
  position: absolute;
  top: 20%;
  background: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
  width: 100%;
  padding-top: 50px;
}

#login {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
  /* width: 100%;
  height: 100vh; */
  padding-top: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

#nav-text {
  color: white;
}

.material-icons {
  width: 60px;
  height: 30px;
  color: white;
}

.clickable {
  cursor: pointer;
}

button.save-icon,
button.delete-icon {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.save-icon,
.delete-icon {
  color: #09524e;
}

#profile-img {
  border-style: solid 10px black;
}

.home-hello {
  font-size: 3rem;
  color: #FAF9F6;
  font-weight: 450;
}

.content-card {
  font-size: 1.2rem;
  padding: 1%;
  text-align: center;
  margin: 2%;
  border-radius: 5px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
  background-color: #FAF9F6;
}

.horizontal-scrollable>.row {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable>.row>.col-xs-4 {
  display: inline-block;
  float: none;
}

.quote {
  font-size: medium;
  font-style: italic;
}

.small-break {
  margin-top: 0.5em;
}

.recipe-title {
  color: white;
}