<!-- HOME -->
<!-- header -->
<%- include('../partials/header') %>
<%- include('../partials/animated-bg') %>

<!-- content -->


<p>Home</p>


<!-- footer -->
<%- include('../partials/footer') %>
<%- include('../partials/bottom-nav') %>